@import 'base/*';
@import 'global/*';
@import 'components/*';
@import 'pages/*';
@import 'print';

html {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: $c-offblack;
  color: $c-primary-dk;
  text-shadow: none;
}

::selection {
  background-color: $c-offblack;
  color: $c-primary-dk;
  text-shadow: none;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.wrap {
  max-width: 57.665em;
  margin: 0 auto;
  position: relative;
  width: 85%;
}

img {
  max-width: 100%;
  height: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  border: none;
}

input,
textarea,
select {
  font-family: inherit;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 2.8em;
  width: 2.8em;
  vertical-align: middle;
}

.cssanimations .intro div {
  animation: bounce 0.25s forwards;
  opacity: 0;
}

.cssanimations .intro div:nth-of-type(2) {
  animation-delay: 0.4s;
}

.cssanimations .intro div:nth-of-type(3) {
  animation-delay: 0.6s;
}

.cssanimations .main-nav > li {
  animation: bounce 0.25s 0.8s forwards;
  opacity: 0;
}

.cssanimations .main-nav > li:nth-of-type(2) {
  animation-delay: 1s;
}

.cssanimations .main-nav > li:nth-of-type(3) {
  animation-delay: 1.2s;
}

.cssanimations .main-nav > li:nth-of-type(4) {
  animation-delay: 1.4s;
}
