@use "base" as *;
@use 'global';
@use 'components';
@use 'pages';
@use 'print';

html {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: $c-primary;
  color: $c-black;
  font-weight: 400;
}

::selection {
  background-color: $c-primary;
  color: $c-black;
  font-weight: 400;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.wrap {
  max-width: 57.665em;
  margin: 0 auto;
  position: relative;
  width: 85%;
}

img {
  max-width: 100%;
  height: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  border: none;
}

input,
textarea,
select {
  font-family: inherit;
}
