@use "../../scss/config" as *;

// ==========================================================================
// Projects
// ==========================================================================
.projects {
  --vertical-padding: var(--space-3);

  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
}

.project-group {
  display: grid;
  grid-column-gap: var(--space-1);
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: var(--space-1);
  place-items: center;

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: var(--space-3);
  }
}

.project {
  filter: grayscale(1);
  font-size: var(--font-size-2);
  letter-spacing: 0.5px;
  min-height: px-to-rem(100);
  text-align: center;

  &:hover,
  &:focus {
    .project__name {
      opacity: 1;
    }
  }

  &__name {
    opacity: 0.8;
    transition: opacity 0.25s ease-in-out;
  }

  &__logo {
    aspect-ratio: 2.5 / 1;
    margin-bottom: var(--space-05);
    height: px-to-rem(45);
  }
}
