---
import uswdsLogo from "../../images/project-logos/uswds-white.svg";
import digitalGovLogo from "../../images/project-logos/dg-white.svg";
import aerospaceLogo from "../../images/project-logos/aerospace-logo.svg";
import bdLogo from "../../images/project-logos/bd-white.svg";

import "./index.scss";

const projects = [
  {
    logo: uswdsLogo,
    name: "US Web Design System",
    description: "Using modern web features to improve federal government sites.",
    skills: ["Accessibility", "CI/CD", "JavaScript", "SASS", "Static site generators", "StorybookJS", "Web Components"],
    abbrev: "uswds"
  },
  {
    logo: digitalGovLogo,
    name: "Digital.Gov",
    description: "Guidance for creating excellent digital experiences for the federal government.",
    skills: ["Accessibility", "Component-based design", "Hugo", "JavaScript", "SASS"],
    abbrev: "dg"
  },
  {
    logo: aerospaceLogo,
    name: "Aerospace",
    description: "A component based approach to build a unique and mobile-friendly experience in Drupal.",
    skills: ["Component-based design", "Mobile-first", "SASS", "Performance"],
    abbrev: "aero"
  },
  {
    logo: bdLogo,
    name: "Black+Decker",
    description: "Design and building intuitive e-commerce experiences for over a dozen brands.",
    skills: ["Design Systems", "Ecommerce", "Mobile-first design" , "SASS"],
    abbrev: "bd"
  },
]
---

<section class="projects wrap wrap--xl">
  <h2>Projects</h2>
  <p>
    A few select projects I've worked on.
  </p>
  <ul class="projects-list">
    {
      projects.map((project) => (
        <li class=`projects-list__item project project--${ project.abbrev }`>
          <img src={project.logo.src}
          class="project__logo"
          loading="lazy"
          alt=""  />
          <div class="project__name">{project.name}</div>
          { project.description && <div class="project__description">{project.description}</div> }
          {project.skills && (
            <div class="project__skills">
              {project.skills.map((skill) => skill).join(` • `)}
            </div>
          )}
        </li>
      ))
    }
  </ul>
</section>
