@use "../../scss/config" as *;

// ==========================================================================
// Projects
// ==========================================================================
.projects {
  --vertical-padding: var(--space-3);

  padding-block: var(--vertical-padding);
}

.projects-list {
  --var-column-width: 29ch;

  display: grid;
  grid-column-gap: var(--space-105);
  justify-content: center;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: var(--space-1);
  place-items: center;

  @include mq(md) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, var(--var-column-width)), 1fr)
    );
    margin-block-end: var(--space-3);
  }

  @include mq(xl) {
    --var-column-width: 20ch;
  }
}

.project {
  border: 2px solid oklch(from var(--theme-primary) l c h / 0.2);
  background: oklch(from var(--theme-primary-darker) l c h / 0.1);
  padding: 2rem 1rem;

  display: grid;
  grid-row: auto / span 4;
  justify-content: center;
  grid-template-rows: subgrid;
  margin-block-end: var(--space-1);
  text-align: center;
  width: 100%;

  &:is(:hover, :focus-within) {
    .project__logo {
      transform: rotate3d(0, 1, 0, 360deg);
    }

    .project__skills {
      color: var(--theme-primary-lighter);
    }
  }

  &__logo {
    aspect-ratio: 3.25 / 1;
    margin: auto;
    height: px-to-rem(45);
    transition: transform 0.5s cubic-bezier(0.87, 0, 0.13, 1);
  }

  &__name {
    font-weight: 400;
    margin-block: var(--space-1) 0;
    transition: opacity 0.25s ease-in-out;
  }

  :is(.project__skills, .project__description) {
    font-size: var(--font-size-2);
  }

  &__description {
    margin-block-start: 0;
  }

  &__skills {
    color: oklch(from var(--theme-primary-darker) calc(l + 0.3) c h);
    margin-block: var(--space-05);
    transition: color 0.26s ease-in-out;
  }
}

.project--aero .project__logo {
  position: relative;
  top: 5px;
}
