---
import "./index.scss";

const projects = [
  {
    name: "US Web Design System",
    logo: "uswds-white",
    abbrev: "uswds"
  },
  {
    name: "Digital.Gov",
    logo: "dg-white",
    abbrev: "dg"
  },
  {
    name: "Aerospace",
    logo: "aerospace-logo",
    abbrev: "aero"
  },
  {
    name: "Black+Decker",
    logo: "bd-white",
    abbrev: "bd"
  },
]
---

<section class="projects wrap wrap--xl">
  <h3>Projects</h3>
  <p>
    A few select projects I've worked on.
  </p>
  <ul class="project-group">
    {
      projects.map((project) => (
        <li class="project-group__item">
          <div class=`project project--${ project.abbrev }`>
            <img
              src=`./img/project-logos/${project.logo}.svg`
              alt=""
              loading="lazy"
              class="project__logo"
            >
            <div class="project__name">{project.name}</div>
          </div>
        </li>
      ))
    }
  </ul>
</section>
