@use "../../scss/config" as *;

// ==========================================================================
// Projects
// ==========================================================================

.projects {
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.project-group {
  place-items: center;
  display: grid;
  grid-column-gap: var(--space-1);
  list-style: none;
  margin-bottom: 0;
  margin-top: var(--space-3);

  &__item {
    width: 100%;
  }

  &__item:where(:not(:first-child)) {
    margin-top: var(--space-1);
    width: 100%;

    @include mq(sm) {
      margin-top: 0;
    }
  }

  @include mq(sm) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
  }
  @include mq(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.project {
  filter: grayscale(1);
  font-size: 75%;
  letter-spacing: 0.5px;
  min-height: px-to-rem(100);
  text-align: center;
  transition: 0.26s ease-in-out;

  &:hover,
  &:focus {
    .project__name {
      opacity: 0.8;
    }
  }

  &__name {
    line-height: 1.1;
    margin-top: auto;
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
  }

  &__logo {
    height: px-to-rem(45);
  }
}
