---
import uswdsLogo from "../../images/project-logos/uswds-white.svg";
import digitalGovLogo from "../../images/project-logos/dg-white.svg";
import aerospaceLogo from "../../images/project-logos/aerospace-logo.svg";
import bdLogo from "../../images/project-logos/bd-white.svg";

import "./index.scss";

const projects = [
  {
    name: "US Web Design System",
    logo: uswdsLogo,
    abbrev: "uswds"
  },
  {
    name: "Digital.Gov",
    logo: digitalGovLogo,
    abbrev: "dg"
  },
  {
    name: "Aerospace",
    logo: aerospaceLogo,
    abbrev: "aero"
  },
  {
    name: "Black+Decker",
    logo: bdLogo,
    abbrev: "bd"
  },
]
---

<section class="projects wrap wrap--xl">
  <h2>Projects</h2>
  <p>
    A few select projects I've worked on.
  </p>
  <ul class="project-group">
    {
      projects.map((project) => (
        <li class="project-group__item">
          <div class=`project project--${ project.abbrev }`>
            <img src={project.logo.src}
            class="project__logo"
            loading="lazy"
            alt=""  />
            <div class="project__name">{project.name}</div>
          </div>
        </li>
      ))
    }
  </ul>
</section>
