
RewriteEngine on

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.jmejia.com/$1 [R,L]
RewriteCond %{HTTP_HOST} ^jmejia\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.jmejia\.com$
RewriteRule ^404$ "https\:\/\/

ErrorDocument 404 /404.html

