.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes stretch {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
[data-scroll] {
  transition: opacity 1s;
}

[data-scroll=in] {
  opacity: 1;
}

[data-scroll=out] {
  opacity: 0;
}

.btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  font: inherit;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
}
.btn.is-active, .btn:focus, .btn:active, .btn:hover {
  color: #00a676;
  outline: 3px dotted #00a676;
}

.btn--inverse {
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn--inverse.is-active, .btn--inverse:focus, .btn--inverse:active, .btn--inverse:hover {
  border-color: #12d178;
  color: #12d178;
  outline: none;
}

body {
  background-color: #121619;
  color: #c8d3d5;
  font-size: 1.25rem;
  font-family: Aleo, Georgia, serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@supports (font-size-adjust: 1) {
  body {
    font-size-adjust: 0.5;
  }
}

h1 {
  font-weight: 400;
  margin-bottom: 1.875rem;
  font-size: 3.813rem;
  line-height: 1.47;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 56.25em) {
  h1 {
    font-size: 3.815rem;
  }
}

h2 {
  font-weight: 400;
  font-size: 3.052rem;
  line-height: 1.22;
  margin-bottom: 1.875rem;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 56.25em) {
  h2 {
    font-size: 3.052rem;
  }
}

h3 {
  font-weight: 400;
  font-size: 2.442rem;
  margin-bottom: 1.875rem;
  line-height: 1.5;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 56.25em) {
  h3 {
    font-size: 2.442rem;
  }
}

h4 {
  font-weight: 400;
  margin-bottom: 1.875rem;
  font-size: 1.954rem;
  line-height: 1.56;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 56.25em) {
  h4 {
    font-size: 1.954rem;
  }
}

.main-header,
h5 {
  font-weight: 400;
  margin-bottom: 1.875rem;
  font-size: 1.563rem;
  line-height: 1.2;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 56.25em) {
  .main-header,
h5 {
    font-size: 1.563rem;
  }
}

h6 {
  font-weight: 400;
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  line-height: 1.5;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.display {
  font-size: 3.05rem;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 46.875em) {
  .display {
    font-size: 4.769rem;
  }
}

b,
strong {
  font-weight: 400;
}

p {
  max-width: 60ch;
  margin-bottom: 1.875rem;
  line-height: 1.5;
  font-weight: 300;
  transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

hr {
  border: 0;
  border-top: 2px solid #999999;
  height: 0;
  margin: 7.6em auto;
  position: relative;
  width: 20%;
}

.lead-in {
  margin-top: 0;
}
@media only screen and (min-width: 46.875em) {
  .lead-in {
    font-size: 1.563rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .lead-in {
    font-size: 1.875rem;
  }
}

p,
ul,
ol,
table,
blockquote {
  margin: 1.5em 0;
}

ul,
ol {
  padding-left: 0;
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

em {
  border-bottom: 2px solid;
  font-style: normal;
  font-weight: 400;
}

a {
  color: #12d178;
  display: inline-block;
  font-weight: 300;
  position: relative;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
a::after {
  content: "";
  background-color: #12d178;
  border-bottom: 1px solid;
  position: absolute;
  bottom: 0;
  left: -0.25rem;
  right: -0.25rem;
  height: 100%;
  transform: scale(1, 0);
  transform-origin: bottom left;
  transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -1;
}
a.is-active, a:focus, a:active, a:hover {
  color: #121619;
  outline: none;
}
a.is-active::after, a:focus::after, a:active::after, a:hover::after {
  transform: scale(1);
}

.main-footer {
  margin-top: 6.25rem;
}

.main-footer a {
  align-items: center;
  color: #121619;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  padding: 1.25rem;
  text-align: center;
}
@media only screen and (min-width: 21.875em) {
  .main-footer a {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 46.875em) {
  .main-footer a {
    flex-direction: row;
    font-size: 1.25rem;
  }
}
.main-footer a::before, .main-footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
.main-footer a::before {
  background-color: #12d178;
  top: 0;
  width: 100%;
}
.main-footer a::after {
  content: "";
  background-color: #121619;
  border-bottom: 1px solid;
  height: 100%;
  transform-origin: bottom left;
  transform: scale(1, 0);
  transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -1;
}
.main-footer a.is-active, .main-footer a:focus, .main-footer a:active, .main-footer a:hover {
  color: #12d178;
  font-weight: 400;
  outline: none;
}
.main-footer a.is-active::after, .main-footer a:focus::after, .main-footer a:active::after, .main-footer a:hover::after {
  transform: scale(1, 0.98);
}

.footer-nav__menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.footer-nav__menu-item {
  flex: 1 1 33.33%;
}

.footer-nav__menu-item:first-of-type {
  flex: 0 1 10%;
}

.footer__icon {
  display: inline-block;
  fill: currentColor;
  height: 2.8em;
  width: 2.8em;
  vertical-align: middle;
}
@media only screen and (min-width: 46.875em) {
  .footer__icon {
    margin-right: 0.313rem;
  }
}

@media only screen and (min-width: 46.875em) {
  .footer__icon--no-text {
    margin-right: 0;
  }
}

.main-header__inner {
  display: flex;
  flex-direction: column-reverse;
}

.main-header__name {
  color: #c8d3d5;
  line-height: 1.2;
  margin-bottom: 0;
  text-indent: -0.187rem;
}
@media only screen and (min-width: 56.25em) {
  .main-header__name {
    letter-spacing: -2px;
  }
}

.main-header__title {
  margin-top: 0;
  font-size: 1.875rem;
}
@media only screen and (min-width: 46.875em) {
  .main-header__title {
    font-size: 2.444rem;
  }
}

.main-header .lead-in {
  margin-top: 1.938rem;
  order: -1;
}

.main-nav {
  font-weight: 400;
}

.main-nav__inner {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.main-nav__trigger {
  background-color: transparent;
  border: none;
  color: #c8d3d5;
  cursor: pointer;
  font-size: 0.75rem;
  letter-spacing: 2px;
  padding: 1.75rem 0.625rem 0.75rem;
}

.line__wrap {
  background-color: #12d178;
  display: block;
  height: 0.188rem;
  width: 100%;
  position: relative;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.line__wrap::before, .line__wrap::after {
  content: "";
  background-color: #12d178;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  right: 0;
  transition: inherit;
}
.line__wrap::before {
  top: -0.562rem;
}
.line__wrap::after {
  bottom: -0.562rem;
}

.is-active .line__wrap {
  background-color: transparent;
  width: 90%;
}
.is-active .line__wrap::before {
  transform: rotate(45deg) translate(6px, 2px);
}
.is-active .line__wrap::after {
  transform: rotate(-45deg) translate(12px, -5px);
}

.trigger__label {
  display: block;
  margin-top: 1rem;
  pointer-events: none;
}

.main-nav__menu {
  background-color: #121619;
  box-shadow: 0 0 8px rgba(18, 22, 25, 0.8), 0 0 40px rgba(18, 22, 25, 0.1);
  color: #12d178;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  right: 0;
  position: absolute;
  top: 6.25rem;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;
  width: 100%;
  transform: translateY(30%);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 21.875em) {
  .main-nav__menu {
    left: auto;
    max-width: 15.625rem;
  }
}

.main-nav__menu.is-active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.main-nav__menu.active-out {
  transform: translateY(30%);
  visibility: hidden;
  opacity: 0;
}

.main-nav__menu .nav__link {
  color: inherit;
  display: block;
  font-size: 1.563rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.625rem 1.5rem;
  transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.main-nav__menu .nav__link::after {
  background-color: #12d178;
  left: 0.063rem;
  right: 0.063rem;
}
.main-nav__menu .nav__link.is-active, .main-nav__menu .nav__link:focus, .main-nav__menu .nav__link:active, .main-nav__menu .nav__link:hover {
  color: #121619;
}

.nav {
  list-style: none;
}

.nav--inline {
  display: flex;
  flex-flow: row wrap;
}
.nav--inline .nav__item:not(:first-of-type) {
  margin-left: px-to-rem(8);
}

@media only screen and (min-width: 56.25em) {
  .project {
    display: grid;
    grid-template-areas: "screenshot . body";
    grid-template-columns: 1fr 5% 1fr;
    max-width: 95%;
    align-items: center;
  }
}
@media only screen and (min-width: 56.25em) {
  .project {
    grid-template-columns: 2fr 5% 1fr;
  }
}
.project__img {
  display: block;
  margin-bottom: 1.875rem;
}
.project__img img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media only screen and (min-width: 56.25em) {
  .project__img {
    grid-area: screenshot;
  }
}
.project__body {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 56.25em) {
  .project__body {
    grid-area: body;
    margin: 0;
    max-width: none;
  }
}
.project__title {
  margin-top: 0;
  margin-bottom: 0;
}
.project-roles {
  margin-top: 0;
}
.project-role {
  font-size: 1.125rem;
}

.skip-to-content {
  position: absolute;
  left: 8.3%;
  top: 3.875rem;
  opacity: 0;
  transition: opacity cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 500;
}
.skip-to-content:focus {
  opacity: 1;
}

.page--home .main-header {
  background-image: linear-gradient(to top, #121619, transparent), url("../../../img/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 85vh;
}

.page--home .main-header__name,
.page--home .main-header__title,
.page--home .lead-in {
  animation: bounce 0.65s forwards;
  opacity: 0;
}

.page--home .main-header__title {
  animation-delay: 0.4s;
}

.page--home .lead-in {
  animation-delay: 0.6s;
}

.page--home .main-nav {
  animation-delay: 0.8s;
}

.page--resume {
  border-top: 15px solid #12d178;
  padding-top: 1.5rem;
}

.resume__header-inner {
  display: flex;
  flex-flow: row wrap;
}

.resume__header .h-card {
  margin-top: 3.125rem;
  order: 2;
  width: 100%;
}
@media only screen and (min-width: 46.875em) {
  .resume__header .h-card {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.resume__header .h-card__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resume__header h1 {
  margin-bottom: 0;
}

.resume__header .h2 {
  margin-top: 0;
}

@media only screen and (min-width: 46.875em) {
  .resume__info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2rem;
  }
}

.resume__history,
.resume__skills-list {
  list-style: none;
}

.history__item {
  margin-bottom: 3.75rem;
}

.resume__employment-title {
  margin-bottom: 0;
}

.resume__role {
  margin-top: 0;
  margin-bottom: 0;
}

.resume__time-spent {
  font-size: 85%;
}

@media print {
  body {
    background: none;
    color: #000000;
    font-size: 10pt;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  p {
    font-weight: inherit;
  }

  h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h1 {
    font-size: 20pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }

  h4 {
    font-size: 12pt;
  }

  h5 {
    font-size: 14pt;
  }

  p {
    margin-top: 0.16in;
    margin-bottom: 0.16in;
  }

  a img {
    border: none;
  }

  .page--resume {
    padding-top: 10mm;
  }

  .resume__header .h-card {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    margin-top: 0.25in;
  }

  .resume__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .resume__experience {
    width: 65%;
  }

  .resume__skills {
    width: 30%;
    margin-left: 5%;
  }

  .resume__header-back,
.page--resume .main-footer {
    display: none !important;
  }

  .page--resume .h-card__name {
    margin-top: 0;
  }

  .page--resume .history__item {
    margin-bottom: 0;
  }
}
html {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #12d178;
  color: #121619;
  font-weight: 400;
}

::selection {
  background-color: #12d178;
  color: #121619;
  font-weight: 400;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.wrap {
  max-width: 57.665em;
  margin: 0 auto;
  position: relative;
  width: 85%;
}

img {
  max-width: 100%;
  height: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  border: none;
}

input,
textarea,
select {
  font-family: inherit;
}

/*# sourceMappingURL=styles.css.map */
