@use "../config" as *;

.btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: px-to-rem(16);
  font-weight: 400;
  padding: px-to-rem(10) px-to-rem(20);
  text-transform: uppercase;
}

.btn--inverse {
  transition: 0.3s var(--theme-ease-primary);

  @include is-active {
    border-color: var(--theme-primary);
    color: var(--theme-primary);
    outline: none;
  }
}
