@use "sass:color";
@use "../config" as *;

// --color-white-1
$card-border-color: rgba(#f2eeef, 0.3);

.card-group {
  list-style: none;

  @include mq(md) {
    align-items: stretch;
    display: grid;
    column-gap: var(--space-105);
  }
}

.card-group--thirds {
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border: 3px solid $card-border-color;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-03);
  height: 100%;
  padding: var(--space-03) var(--space-1);

  &__header {
    min-height: px-to-rem(100);
    margin-bottom: var(--space-105);
  }

  &__title {
    font-size: px-to-rem(31.25);
  }

  &__footer {
    margin-top: auto;
    margin-bottom: var(--space-105);
  }
}
