@use "../config" as *;

// ==========================================================================
// Header
// ==========================================================================
.main-header {
  padding: var(--space-1);
}

.main-header__name {
  margin-bottom: 0;
  text-indent: px-to-rem(-3);

  @include mq(lg) {
    letter-spacing: -2px;
  }
}

.main-header__title {
  margin-top: 0;
}
