// ==========================================================================
// Generic nav styles
// ==========================================================================

.nav {
  list-style: none;
}

.nav--inline {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--space-02);
}
