@use "../base" as *;

// ==========================================================================
// Projects
// ==========================================================================

.projects {
  // background-color: rgba($c-white, 0.1);
  // padding-top: 2rem;
  // padding-bottom: 2rem;
}


.project-group {
  place-items: center;
  display: grid;
  grid-template-columns: repeat(
    8,
    148px
  );
  grid-column-gap: units(6);
  list-style: none;
  margin-bottom: 0;
  margin-top: units(4);

  &__item {
    margin-bottom: units(6);
    width: 100%;
  }
}

.project {
  display: grid;
  place-items: center;
  filter: grayscale(1);
  font-size: 75%;
  letter-spacing: 0.5px;
  min-height: px-to-rem(150);
  text-align: center;
  transition: 0.26s ease-in-out;

  &:hover,
  &:focus {
    filter: none;
  }

  &__name {
    line-height: 1.1;
  }
}
