---
import Base from "../../layouts/Base.astro";
import PostPreview from "../../components/PostPreview/PostPreview.astro";

const posts = Object.values(import.meta.glob('./post/*.md', { eager: true }));

posts.sort((a: any, b: any) => (
  new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
);
---

<Base title="Blog" description="James Mejia - Frontend thoughts and learnings">
  <h1>Posts</h1>
  <ul class="posts u-list--unstyled">
    {posts.map((post: any) => {
      if (!post.frontmatter.draft) {
        return (
        <li class="posts__item">
          <PostPreview post={ post } />
        </li>
        );
      }
    })}
  </ul>
</Base>
