
<style lang="scss">
  @use "../../scss/config" as *;

  .intro {
    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(6rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    > * {
      animation-name: fadeUp;
      animation-duration:  0.75s;
    }

    :nth-child(2) {
      animation-delay: 0.05s;
    }
    :nth-child(3) {
      animation-delay: 0.10s;
    }

    &__name {
      font-size: var(--font-size-10);
      font-weight: 900;
      font-kerning: auto;
      line-height: 1;

      @include mq(md) {
        font-size: var(--font-size-14);
      }

      @include mq(lg) {
        font-size: var(--font-size-20);
      }
    }

    &__subtitle {
      font-weight: 700;
      font-size: var(--font-size-4);
      line-height: 1;
      margin-bottom: var(--space-1);

      @include mq(md) {
        font-size: var(--font-size-8);
      }

      @include mq(lg) {
        font-size: var(--font-size-12);
      }
    }
  }
</style>

<div class="wrap wrap--xl">
  <div class="intro">
    <h1 class="display intro__name">James Mejia</h1>
    <div class="intro__subtitle subtitle">Designer & Frontend Engineer</div>
    <p class="lead-in" id="about">
      I create user-friendly, accessible websites and apps that scale.
    </p>
  </div>
</div>
