<div class="intro">
  <div class="wrap--xl">
    <h1 class="display main-header__name">James Mejia</h1>
    <h2 class="main-header__title">Design & Development</h2>
    <p class="lead-in balance-text" id="about">
      I create uniquely engaging and intuitive user experiences. Due to an expertise in complex CSS architecture design and development, my websites offer cutting-edge performance at any scale.
    </p>
  </div>
</div>
