<div class="intro">
  <div class="wrap wrap--xl">
    <h1 class="display main-header__name">James Mejia</h1>
    <div class="main-header__subtitle subtitle">Design & Development</div>
    <p class="lead-in" id="about">
      I create user-friendly, accessible websites and apps that scale.
    </p>
  </div>
</div>
