<div class="intro">
  <div class="wrap--xl">
    <h1 class="display main-header__name">James Mejia</h1>
    <h2 class="main-header__title">Design & Development</h2>
    <p class="lead-in" id="about">
      I create uniquely engaging & intuitive user experiences that offer cutting-edge performance at any scale. My&nbsp;approach is straightforward, honest, and user-focused.
    </p>
  </div>
</div>
