<div class="intro">
  <h1 class="display main-header__name">James Mejia</h1>
  <h2 class="main-header__title">Design & Development</h2>
  <p class="lead-in" id="about">
    I create uniquely engaging and intuitive user experiences. Due to an expertise in complex CSS architecture design and development, my websites offer cutting-edge performance at any scale.
  </p>
</div>

<!-- Alternatively change extension to JSX -->
<!-- import { h } from 'preact'; -->
<!-- import Styles from './styles.module.scss'; -->

<!-- function Hero() {
  return (
    <div className={Styles["main-header"]} id="intro">
      <div className={Styles.wrap, Styles["main-header__inner"]}>
        <h1 className={Styles.display, Styles["main-header__name"]}>
          James Mejia
        </h1>
        <h2 className={Styles["main-header__title"]}>Design & Development</h2>
      </div>
    </div>
  );
}

export default Hero; -->
