@use "sass:map";

// ==========================================================================
// Color Variables
// ==========================================================================
$colors: (
  "green": #12d178,
  "green-60": #00a676,
  "black": #121619,
  "white": #c8d3d5,
);

$state-colors: (
  "visited": map.get($colors, "green-60"),
);

$theme-colors: (
  "primary": map.get($colors, "green"),
  "primary-dark": map.get($colors, "green-60"),
);

// TODO - Replace these variables with a color function
$c-green: map.get($colors, "green");
$c-green-60: map.get($colors, "green-60");
$c-black: map.get($colors, "black");
$c-white: map.get($colors, "white");
$c-visited: map.get($state-colors, "visited");
$c-primary: map.get($theme-colors, "primary");
$c-primary-dk: map.get($theme-colors, "primary-dark");

// ==========================================================================
// Spacing units
// ==========================================================================
$spacing: (
  1: 3px,
  2: 4px,
  3: 6px,
  4: 9px,
  5: 12px,
  6: 20px,
  7: 24px,
  8: 27px,
  9: 30px,
  10: 45px,
  11: 72px,
  12: 75px,
  13: 120px,
);

// ==========================================================================
// Breakpoints
// ==========================================================================
$breakpoints: (
  xs: 21.875em,
  sm: 30.625em,
  // 490px
  md: 46.875em,
  // 750px
  lg: 56.25em,
  // 900px
);

// ==========================================================================
// Z-index Layers
// ==========================================================================
// Z-index variables
// Use with z() function like this:
// z-index: z(under);
$z-layers: (
  under: -1,
  default: 1,
  layer-2: 2,
  layer-3: 3,
  menu: 100,
  overlay: 900,
);

// ==========================================================================
// Fonts
// ==========================================================================
$font-size-base: 16;

$ff-serif: Aleo, Georgia, serif;
$font-primary: $ff-serif;

// ==========================================================================
// Easings
// ==========================================================================
$bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$ease-primary: $bezier;

// ==========================================================================
// Misc
// ==========================================================================
$shadow: 0 0 8px rgba($c-black, 0.8), 0 0 40px rgba($c-black, 0.1);
