@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes stretch {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
