@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes stretch {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes round-to-square {
  0%,
  100% {
    border-radius: 0;
    transform: scale(1);
    box-shadow: 0;
  }

  60% {
    border-radius: 10px;
    transform: scale(1.1);
  }
}
