@use "base" as *;

.btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: px-to-rem(16);
  font-weight: 400;
  font: inherit;
  padding: px-to-rem(10) px-to-rem(20);
  text-transform: uppercase;

  @include is-active {
    color: $c-visited;
    outline: 3px dotted $c-visited;
  }
}

.btn--inverse {
  transition: 0.3s $ease-primary;

  @include is-active {
    border-color: $c-primary;
    color: $c-primary;
    outline: none;
  }
}
