body {
  color: $c-offblack;
  font: 1em/1.5 "Asap", sans-serif;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
}

h1,
.h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.22;
  margin: 1em 0 0.5em;
}

h2,
.h2 {
  font-size: 1.55em;
  font-weight: 700;
  line-height: 1.22;
  margin: 0.96em 0;
}

h3,
.h3 {
  font-size: 1.22em;
  font-weight: 700;
  line-height: 1.23;
  margin: 1.23em 0;
}

h4,
.h4 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  margin: 1.5em 0;
}

.intro {
  font-size: 1.5em;
  margin: 0;
}

.intro__loud {
  font-size: 1.75em;
  letter-spacing: -2px;
  margin-bottom: 0.175em;
}

hr {
  border: 0;
  border-top: 2px solid #999999;
  height: 0;
  margin: 7.6em auto;
  position: relative;
  width: 20%;
}

.lead-in {
  font-size: 1.25em;
}

p,
ul,
ol,
table,
blockquote {
  margin: 1.5em 0;
}

ul,
ol {
  padding-left: 0;
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

em {
  border-bottom: 2px solid;
  font-style: normal;
  font-weight: 700;
}

a {
  color: $c-primary;
  font-weight: 700;
  position: relative;
  text-decoration: none;

  &::after {
    background-color: $c-offblack;
    content: '';
    height: 2px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0, 1);
    transform-origin: top right;
    transition: all 0.2s 0.2s $bezier;
    width: 100%;
  }

  &:hover:after {
    transform: scale(1);
    transition-delay: 0s;
  }
}

a.plain-link {
  color: inherit;
  font-weight: normal;

  &::after {
    content: none;
  }
}
