@use "base" as *;

body {
  background-color: $c-black;
  color: $c-white;
  font-size: px-to-rem(20);
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  padding-top: px-to-rem(40);
  text-size-adjust: 100%;
  transition: font-size 0.25s $ease-primary;

  @include mq(xl) {
    font-size: px-to-rem(25);
  }

  @supports (font-size-adjust: 1) {
    font-size-adjust: 0.5;
  }
}

h1,
%h1-style {
  font-weight: 400;
  margin-bottom: px-to-rem(30);
  font-size: px-to-rem(61);
  line-height: 1.47;
  transition: font-size 0.25s $ease-primary;

  @include mq(lg) {
    font-size: px-to-rem(61.03);
  }
}

h2,
%h2-style {
  font-weight: 400;
  font-size: px-to-rem(48.83);
  line-height: 1.22;
  margin-bottom: px-to-rem(30);
  transition: font-size 0.25s $ease-primary;

  @include mq(lg) {
    font-size: px-to-rem(48.82);
  }
}

h3,
%h3-style {
  font-weight: 400;
  font-size: px-to-rem(39.06);
  margin-bottom: px-to-rem(30);
  line-height: 1.5;
  transition: font-size 0.25s $ease-primary;

  @include mq(lg) {
    font-size: px-to-rem(39.06);
  }
}

h4,
%h4-style {
  font-weight: 400;
  margin-bottom: px-to-rem(30);
  font-size: px-to-rem(31.25);
  line-height: 1.56;
  transition: font-size 0.25s $ease-primary;

  @include mq(lg) {
    font-size: px-to-rem(31.25);
  }
}

%h5-style,
h5 {
  font-weight: 400;
  margin-bottom: px-to-rem(30);
  font-size: px-to-rem(25);
  line-height: 1.2;
  transition: font-size 0.25s $ease-primary;

  @include mq(lg) {
    font-size: px-to-rem(25);
  }
}

%h6-style,
h6 {
  font-weight: 400;
  margin-bottom: px-to-rem(30);
  font-size: px-to-rem(20);
  line-height: 1.5;
  transition: font-size 0.25s $ease-primary;
}

.display {
  font-size: px-to-rem(48.8);
  transition: font-size 0.25s $ease-primary;

  @include mq(md) {
    font-size: px-to-rem(76.3);
  }
}

b,
strong {
  font-weight: 400;
}

p {
  max-width: 60ch;
  margin-bottom: px-to-rem(30);
  line-height: 1.5;
  font-weight: 300;
  transition: font-size 0.25s $ease-primary;
}

hr {
  border: 0;
  border-top: 2px solid #999999;
  height: 0;
  margin: 7.6em auto;
  position: relative;
  width: 20%;
}

.lead-in {
  margin-top: 0;

  @include mq(md) {
    font-size: px-to-rem(25);
  }
  @include mq(lg) {
    font-size: px-to-rem(30);
  }
}

p,
ul,
ol,
table,
blockquote {
  margin: 1.5em 0;
}

ul,
ol {
  padding-left: 0;
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

em {
  border-bottom: 2px solid;
  font-style: normal;
  font-weight: 400;
}

a {
  color: $c-primary;
  display: inline-block;
  font-weight: 300;
  position: relative;
  text-decoration: none;
  transition: 0.2s $ease-primary;

  &::after {
    content: '';
    background-color: $c-primary;
    border-bottom: 1px solid;
    position: absolute;
    bottom: 0;
    left: px-to-rem(-4);
    right: px-to-rem(-4);
    height: 100%;
    transform: scale(1, 0);
    transform-origin: bottom left;
    transition: transform 0.2s $ease-primary;
    z-index: z(under);
  }

  @include is-active {
    color: $c-black;
    outline: none;

    &::after {
      transform: scale(1);
    }
  }
}

.skip-to-content {
  position: relative;
  left: 8.3%;
  top: px-to-rem(62);
  opacity: 0;
  transition: opacity $ease-primary;

  &:focus {
    opacity: 1;
  }
}
