// ==========================================================================
// Homepage
// ==========================================================================

.page--home {
  .main-header {
    background-image: linear-gradient(to top, #121619, transparent),
      url("../../../img/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}
