@use "../config" as *;

// ==========================================================================
// Resume Page
// ==========================================================================
.page--resume {
  border-top: 15px solid var(--theme-primary);
  padding-top: 1.5rem;
}

//
// Experience & Skills
// ==========================================================================
.resume__info {
  @include mq(md) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2rem;
  }
}

.resume__history {
  list-style: none;
}

.history__item {
  margin-bottom: px-to-rem(60);
}

// Experience
.resume__employment-title {
  margin-bottom: 0;
}

.resume__role {
  margin-top: 0;
  margin-bottom: 0;
}

.resume__time-spent {
  font-size: 85%;
}
