@use "sass:color";

@use "../../scss/config" as *;

$card-border-color: rgba(#f2eeef, 0.3);

.card-group {
  display: grid;
  list-style: none;
  margin-block: var(--space-1);
  gap: var(--space-05);

  @include mq(lg) {
    align-items: stretch;
  }

  &--thirds {
    @include mq(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card {
  border: 3px solid $card-border-color;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: auto / span 4;
  margin-block-end: var(--space-05);
  padding: var(--space-05) var(--space-1);

  &__header {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: auto / span 2;
  }

  &__date {
    font-size: var(--font-size-3);
  }

  &__footer {
    margin-block-end: var(--space-05);
  }
}
