@use "sass:color";

@use "../../scss/config" as *;

$card-border-color: rgba(#f2eeef, 0.3);

.card-group {
  display: grid;
  list-style: none;
  margin-top: var(--space-05);
  gap: var(--space-1);

  @include mq(lg) {
    align-items: stretch;
  }

  &--thirds {
    @include mq(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card {
  border: 3px solid $card-border-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: var(--space-05);
  padding: var(--space-05) var(--space-1);

  &__date {
    font-size: var(--font-size-3);
  }

  &__footer {
    min-height: px-to-rem(60);
    margin-top: auto;
    margin-bottom: var(--space-05);
  }
}
