@use "sass:color";

@use "../../scss/config" as *;

.card-group {
  display: grid;
  list-style: none;
  margin-block: var(--space-1);
  gap: var(--space-1);

  @include mq(lg) {
    align-items: stretch;
  }

  &--thirds {
    @include mq(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card {
  --card-border-color: oklch(from var(--theme-base) l c h / 0.4);

  border: 2px solid var(--card-border-color);
  display: grid;
  grid-template-rows: subgrid;
  grid-row: auto / span 4;
  margin-block-end: var(--space-05);
  padding: var(--space-105);

  @include mq(lg) {
    padding: var(--space-2);
  }

  &__header {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: auto / span 2;
  }

  &__title {
    margin-block: 0;
  }

  &__date {
    font-size: var(--font-size-3);
  }
}
