---
import { Image } from "astro:assets";
import "../scss/global/_typography.scss";
import MainHead from '../components/MainHead.astro';

import bulldogImage from "../images/bawss.gif";
---

<style lang="scss">
  .absolute-center {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
  }
</style>

<html lang="en">
  <MainHead title="Page not found" />
  <body>
    <div class="absolute-center">
      <main>
        <Image src={ bulldogImage } alt="Bulldog on a jetski looking for your page" />
        <h1>Uh oh</h1>
        <p>
          We couldn't find the page you're looking for. <br>
          Try double-checking the url.
        </p>
        <a href="/">← Return to Homepage</a>
      </main>
    </div>
  </body>
</html>
