---
import MainHead from '../components/MainHead.astro';
---

<style lang="scss">

  .absolute-center {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
  }

  img {
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }

  p {
    font-weight: inherit;
    margin: 0 auto;
    max-width: 63ch;
  }

  @media only screen and (max-width: 280px) {

    body, p {
      width: 95%;
    }

    h1 {
      font-size: 1.5em;
      margin: 0 0 0.3em;
    }

  }
</style>

<html lang="en">
  <MainHead title="Page not found" />
  <body>
    <div class="absolute-center">
      <div>
        <img src="/assets/img/bawss.gif" alt="Bulldog on a jetski">
        <h1>Uh oh.</h1>
        <p>The page isn't here right now. Try again later.</p>
        <a href="/">← Return to Homepage</a>
      </div>
    </div>
  </body>
</html>
