---
import MainHead from '../components/MainHead.astro';
import Skiplink from "../components/Skiplink/index.astro";
import Header from "../components/Header/index.astro";
import Hero from '../components/Hero/index.astro';
import Projects from "../components/Projects/index.astro";
import Card from "../components/Card/index.astro"
import Footer from '../components/Footer/index.astro';

// Data Fetching: List all blog posts
const blogPosts = await Astro.glob('./blog/post/*.md');

blogPosts.sort(
  (a, b) => (
    new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
  )
);

let latestPosts = blogPosts.slice(0, 3);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">

<!--
  Component uses defaults
  @example
  <MainHead title="James Mejia - Designer & Front-End Developer" />
-->
<MainHead />

<style lang="scss">
  @use "../scss/config" as *;

.page--home {

  background-image: radial-gradient(
    at top left,
    var(--theme-primary),
    #1f5154 35%,
    var(--theme-bg-color),
    var(--theme-bg-color)
  );
  background-repeat: no-repeat;

  @include mq(md) {
    background-image: radial-gradient(
      at top left,
      var(--theme-primary) 5%,
      #1f5154 38%,
      var(--theme-bg-color),
      var(--theme-bg-color)
    );
  }
}

</style>

<body class="page page--home">
  <div class="content-wrapper">
    <Skiplink />
    <Header />
    <main id="main-content">
      <Hero />
      <Projects />
      <section class="blog-section wrap wrap--xl">
          <ul class="card-group card-group--thirds">
            { latestPosts.map((post, index) => (
              <li class="card-group__item">
                <Card
                  variant="xs"
                  title={ post.frontmatter.title }
                  url={ post.url }
                  date={ post.frontmatter.date }
                  description={ post.frontmatter.description }
                />
              </li>
            )) }
          </ul>
          <a href="/blog">
            View all the things I've written <span aria-hidden="true">→</span>
          </a>
      </section>
    </main>
  </div>
  <Footer />
</body>

</html>
