---
// Component Imports:
import MainHead from '../components/MainHead.astro';
import Header from "../components/Header/index.astro";
import Hero from '../components/Hero/index.astro';
import Projects from "../components/Projects/index.astro";
import Card from "../components/Card/index.astro"
import Footer from '../components/Footer/index.astro';

// Data Fetching: List all blog posts
const blogPosts = await Astro.glob('./blog/post/*.md');

blogPosts.sort(
  (a, b) => (
    new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
  )
);

let latestPosts = blogPosts.slice(0, 3);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">

<head>
  <!-- Not necessary if using defaults, keeping for future use -->
  <!-- <MainHead title="James Mejia - Designer & Front-End Developer" /> -->
  <MainHead />
</head>

<body class="page page--home">
  <div class="content-wrapper">
    <a href="#main-content" class="skip-to-content">Skip to content</a>
    <Header />
    <main id="main-content">
      <Hero />
      <Projects />
      <section class="blog-section wrap--xl">
        <h3>Latest posts</h3>
        <ul class="card-group card-group--thirds">
          { latestPosts.map((post, index) => (
            <li class="card-group__item">
              <Card
                variant="xs"
                title={ post.frontmatter.title }
                url={ post.url }
                date={ post.frontmatter.date }
                description={ post.frontmatter.description }
              />
            </li>
          )) }
        </ul>
      </section>
    </main>
  </div>
  <Footer />
</body>

</html>
