---
// Component Imports:
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.astro';
import Hero from '../components/Hero/index.astro';
import PortfolioPreview from '../components/PortfolioPreview/index.astro';
import Footer from '../components/Footer/index.astro';

// Data Fetching: List all Markdown posts in the repo.
const projectPreviews = await Astro.glob('./project/**/*.md');

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <!-- Not necessary if using defaults, keeping for future use -->
    <!-- <MainHead title="James Mejia - Designer & Front-End Developer" /> -->
    <MainHead />
  </head>

  <body class="page page--home">
    <a href="#main-content" class="skip-to-content">Skip to content</a>
    <header id="top" class="main-header">
      <div class="main-header__inner wrap">
        <Nav />
        <Hero />
      </div>
    </header>
    <main id="main-content">
      <div id="work">
        {
          projectPreviews.map((project, index) => <PortfolioPreview project={project} />)
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
