---
import Base from "../layouts/Base.astro";
---

<style lang="scss">
@use "../scss/config" as *;

.page--resume {
  border-top: 15px solid var(--theme-primary);
  padding-top: 1.5rem;
}

.resume__info {
  @include mq(md) {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-column-gap: var(--space-3);
  }
}

.resume__history {
  list-style: none;
}

.history__item {
  margin-bottom: var(--space-3);
}

// Experience
.resume__employment-title {
  margin-bottom: 0;
}

.resume__role {
  margin-top: 0;
  margin-bottom: 0;
}

.resume__time-spent {
  font-size: 85%;
}

.resume__skills {
  @include mq(md) {
    margin-top: px-to-rem(28);
    font-size: var(--theme-font-size-md);
  }

  dd {
    margin-block-end: var(--space-1);
  }

  h5:first-of-type {
    margin-top: 0;
  }
}
</style>

<Base title="Resume" description="James Mejia - Resume" wrapSize="wrap wrap--xl">
  <header class="resume__header" itemscope itemtype="https://schema.org/Person">
    <h1 class="h-card__name" itemprop="name">James Mejia</h1>
    <div class="h-card__title" itemprop="jobTitle">
      Frontend & Design
    </div>
    <a href="mailto:hi@mejiaj.mozmail.com" itemprop="email">hi@mejiaj.mozmail.com</a>
  </header>
  <div class="resume__greeting">
    <h2>Hi!</h2>
    <p class="lead-in">
      Hello! I’m a Frontend and UI Engineering leader of 13+ years. I've built fast, accessible systems that transform the way industries build and maintain digital products. I have a collaborative, curious approach to leadership, and I genuinely enjoy learning from the people around me.
    </p>
  </div>
  <div class="resume__info">
    <section class="resume__experience">
      <h3>Experience</h3>
      <ol class="resume__history history">
        <li class="history__item">
          <h4 class="resume__employment-title">Bixal</h4>
          <h5 class="resume__role">Principal Frontend Engineer</h5>
          <div class="resume__time-spent">October 2024 - Present</div>
          <p>
            Lead teams in delivering accessible, fast, and user-friendly digital products. Outside of code, I mentor and manage engineers, help with hiring, and establish best practices.
          </p>
          <p>
            Recognized by stakeholders for proactively improving work culture and raising engineering standards.
          </p>
          <h5 class="resume__role">Lead Frontend Engineer</h5>
          <div class="resume__time-spent">February 2023 - October 2024</div>
          <p>
            Led engineering for Digital.gov and USWDS, turning product goals into technical roadmaps and raising engineering quality through documentation, standards, and testing.
          </p>
          <h5 class="resume__role">Frontend Engineer</h5>
          <div class="resume__time-spent">September 2018 - February 2023</div>
          <p>
            I ensured the websites we produced were
            accessible, mobile-friendly, and fast. We mainly worked for the Federal government. We apply the best tech for the job, some of those might include Drupal, React, or both.
          </p>
        </li>
        <li class="history__item">
          <h4 class="resume__employment-title">Third & Grove</h4>
          <h5 class="resume__role">Frontend Engineer</h5>
          <div class="resume__time-spent">
            September 2015 - September 2018
          </div>
          <p>
            Part of a distributed team for a leading Drupal agency, designing and building mobile-first products for clients across industries using Drupal, WordPress, React, and React Native.
          </p>
          <p>
            The work was fast-paced and being remote you have to be disciplined, take initiative, and especially communicative.
          </p>
        </li>
        <li class="history__item">
          <h4 class="resume__employment-title">Spectrum Brands</h4>
          <h5 class="resume__role">Web Designer</h5>
          <div class="resume__time-spent">2012-2015</div>
          <p>
            Part of a small dev team managing 30+ sites serving hundreds of thousands of users monthly. Collaborated with teams to deliver mobile-first designs and progressive enhancement techniques.
          </p>
        </li>
      </ol>
    </section>
    <section class="resume__skills">
      <h5>Specialties</h5>
      <ul>
        <li>Semantic HTML5, CSS/SCSS, JavaScript</li>
        <li>Accessibility <small>(Section 508 & WCAG AA)</small></li>
        <li>Design Systems</li>
        <li>Performance & SEO Optimization</li>
        <li>UI & Mobile-first design</li>
      </ul>
      <h5>Style & Design</h5>
      <ul class="resume__skills-list">
        <li>Tailwind</li>
        <li>Browser-based prototyping</li>
        <li>Figma, Photoshop, Sketch</li>
      </ul>
      <h5>Tools & Frameworks</h5>
      <ul class="resume__skills-list">
        <li><strong>Frameworks:</strong> React, Lit Web Components</li>
        <li><strong>Build:</strong> Vite, Webpack, GulpJS, ESBuild</li>
        <li><strong>Component libraries:</strong> StorybookJS, Fractal</li>
        <li><strong>Static Sites:</strong> AstroJS, Hugo, Jekyll, 11ty</li>
        <li><strong>Testing:</strong> Vitest, Mocha, Pa11y</li>
        <li><strong>Templates:</strong> Twig, Nunjucks, Liquid</li>
        <li><strong>CMS:</strong> Drupal, WordPress, Headless <small>(w/ GraphQL API's)</small></li>
        <li><strong>CI/CD:</strong> GitHub Actions, CircleCI</li>
      </ul>
      <h5>Project Management</h5>
      <ul>
        <li>Agile, Scrum</li>
        <li>Trello, Jira, GitHub Projects</li>
      </ul>
      <h5>Languages</h5>
      <ul>
        <li>English</li>
        <li>Spanish</li>
      </ul>
      <h5>Outreach</h5>
      <dl>
        <dt>Drupal GovCon 2025</dt>
        <dd>Led a half-day workshop on creating your own design system.</dd>
        <dt>Drupal GovCon 2024</dt>
        <dd>Led a half-day workshop on rapid prototyping in Drupal with USWDS, StorybookJS, and Twig.</dd>
        <dt>Drupal GovCon 2023</dt>
        <dd>Presented a session on advanced USWDS techniques and led a half-day workshop that taught both basic and advanced USWDS techniques.</dd>
        <dt>Drupal GovCon 2021</dt>
        <dd>Presented on the future of the USWDS.</dd>
      </dl>
    </section>
  </div>
</Base>
