---
import Base from "../layouts/Base.astro";
---

<Base title="Resume" description="James Mejia - Resume">
  <header class="resume__header">
    <div class="h-card">
      <div class="h-card__intro" id="about">
        <h1 class="h-card__name">James Mejia</h1>
        <div class="h-card__title">Designer & Front-End Developer</div>
      </div>
      <div class="h-card__contact">
        <a
          href="mailto:me@jmejia.com"
          class="h-card__email"
        >
          me@jmejia.com
        </a>
      </div>
    </div>
  </header>
  <div class="resume__greeting">
    <h2>Hi!</h2>
    <p class="lead-in">
      I’m a Designer/Front-End Developer. I architect front-end solutions that benefit the project and move the mission forward. My approach is straightforward, honest, and user-focused. I'm an enthusiastic self-starter and I consistently strive to master my craft.
    </p>
  </div>
  <div class="resume__info">
    <section class="resume__experience">
      <h3>Experience</h3>
      <ol class="resume__history history">
        <li class="history__item">
          <h4 class="resume__employment-title">Bixal</h4>
          <h5 class="resume__role">Lead Front-End Engineer</h5>
          <div class="resume__time-spent">February 2023 - Present</div>
          <p>
            As tech lead my role involves finding practical long-term solutions to engineering problems while keeping performance and accessibility in mind. I also help set standards & best practices to ensure our work is high quality and robust.
          </p>
        </li>
        <li class="history__item">
          <h4 class="resume__employment-title">Bixal</h4>
          <h5 class="resume__role">Front-End Engineer</h5>
          <div class="resume__time-spent">September 2018 - February 2023</div>
          <p>
            I work to ensure the websites we produce are
            accessible, mobile-friendly, and fast. We mainly produce work for the government sector. We apply the best tech for the job, some of those might include Drupal, React, or both.
          </p>
        </li>
        <li class="history__item">
          <h4 class="resume__employment-title">Third & Grove</h4>
          <h5 class="resume__role">Front-End Engineer</h5>
          <div class="resume__time-spent">
            September 2015 - September 2018
          </div>
          <p>
            I was part of a distributed team for a leading Drupal
            agency. We worked with clients of all shapes and
            sizes, across several industries. We designed and developed
            mobile-first websites using Drupal and WordPress. The work was fast-paced and being remote you have to be disciplined, take initiative, and especially communicative.
          </p>
        </li>
        <li class="history__item">
          <h4 class="resume__employment-title">Spectrum Brands</h4>
          <h5 class="resume__role">Web Designer</h5>
          <div class="resume__time-spent">2012-2015</div>
          <p>
            I was part of a small development team that was responsible
            for 30+ brand websites. Household brands such as: Rayovac,
            Black & Decker Appliances, and Remington Hair Products.
          </p>
          <p>
            I introduced and implemented (at the time) novel techniques like styleguide driven-development, mobile-first
            design, and SCSS into our workflow. This helped us
            tremendously in creating maintainable, mobile-friendly,
            websites that serve hundreds of thousands of people
            efficiently.
          </p>
        </li>
      </ol>
    </section>
    <section class="resume__skills">
      <h3>Languages</h3>
      <ul>
        <li>English</li>
        <li>Spanish</li>
      </ul>
      <h3>Skills</h3>
      <ul class="resume__skills-list">
        <li>Drupal 8 certified themer</li>
        <li>Accessibility</li>
        <li>Mobile-first design</li>
        <li>SCSS/CSS</li>
        <li>JavaScript</li>
        <li>UI/UX design</li>
        <li>Typography</li>
      </ul>
    </section>
  </div>
</Base>
