---
import Base from "../layouts/Base.astro";
---

<style lang="scss">
@use "../scss/config" as *;

.page--resume {
  border-top: 15px solid var(--theme-primary);
  padding-top: 1.5rem;
}

.resume__info {
  @include mq(md) {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-column-gap: var(--space-3);
  }
}

.resume__history {
  list-style: none;
}

.history__item {
  margin-bottom: var(--space-3);
}

// Experience
.resume__employment-title {
  margin-bottom: 0;
}

.resume__role {
  margin-top: 0;
  margin-bottom: 0;
}

.resume__time-spent {
  font-size: 85%;
}

.resume__skills {
  @include mq(md) {
    margin-top: px-to-rem(28);
    font-size: var(--font-size-3);
  }

  h5:first-of-type {
    margin-top: 0;
  }
}
</style>

<Base title="Resume" description="James Mejia - Resume" wrapSize="wrap wrap--xl">
  <header class="resume__header" itemscope itemtype="https://schema.org/Person">
    <h1 class="h-card__name" itemprop="name">James Mejia</h1>
    <div class="h-card__title" itemprop="jobTitle">
      Designer & Frontend Engineer
    </div>
    <a href="mailto:me@jmejia.com" itemprop="email">me@jmejia.com</a>
  </header>
  <div class="resume__greeting">
    <h2>Hi!</h2>
    <p class="lead-in">
      I’m a Frontend engineer & Designer. I build solutions that are forward thinking and practical. I'm an enthusiastic self-starter and I consistently strive to master my craft. For over 10 years, I’ve enjoyed collaborating with folks across the stack. I specialize in creating fast, accessible, and intuitive experiences that scale.
    </p>
  </div>
  <div class="resume__info">
    <section class="resume__experience">
      <h3>Experience</h3>
      <ol class="resume__history history">
        <li class="history__item">
          <h4 class="resume__employment-title">Bixal</h4>
          <h5 class="resume__role">Principal Frontend Engineer</h5>
          <div class="resume__time-spent">October 2024 - Present</div>
          <p>
            As a principal engineer, I lead teams to deliver accessible, fast, and user-friendly digital products. When I'm not diving into code, I’ll be mentoring engineers, reviewing pull requests, establishing best practices, and removing blockers.
          </p>
          <h5 class="resume__role">Lead Frontend Engineer</h5>
          <div class="resume__time-spent">February 2023 - October 2024</div>
          <p>
            As tech lead my role involved finding practical long-term solutions to engineering problems while keeping performance and accessibility in mind. I also helped set standards & best practices to ensure our work is high quality and robust.
          </p>
          <h5 class="resume__role">Frontend Engineer</h5>
          <div class="resume__time-spent">September 2018 - February 2023</div>
          <p>
            I ensured the websites we produced were
            accessible, mobile-friendly, and fast. We mainly worked for the Federal government. We apply the best tech for the job, some of those might include Drupal, React, or both.
          </p>
        </li>
        <li class="history__item">
          <h4 class="resume__employment-title">Third & Grove</h4>
          <h5 class="resume__role">Frontend Engineer</h5>
          <div class="resume__time-spent">
            September 2015 - September 2018
          </div>
          <p>
            I was part of a distributed team for a leading Drupal
            agency. We worked with clients of all shapes and
            sizes, across several industries. We designed and developed
            mobile-first websites using Drupal and WordPress. The work was fast-paced and being remote you have to be disciplined, take initiative, and especially communicative.
          </p>
        </li>
        <li class="history__item">
          <h4 class="resume__employment-title">Spectrum Brands</h4>
          <h5 class="resume__role">Web Designer</h5>
          <div class="resume__time-spent">2012-2015</div>
          <p>
            I was part of a small development team that was responsible
            for 30+ brand websites. Household brands such as: Rayovac,
            Black & Decker Appliances, and Remington Hair Products.
          </p>
          <p>
            I introduced and implemented (at the time) novel techniques like styleguide driven-development, mobile-first
            design, and SCSS into our workflow. This helped us
            tremendously in creating maintainable, mobile-friendly,
            websites that serve hundreds of thousands of people
            efficiently.
          </p>
        </li>
      </ol>
    </section>
    <section class="resume__skills">
      <h5>Languages</h5>
      <ul>
        <li>English</li>
        <li>Spanish</li>
      </ul>
      <h5>Skills</h5>
      <ul class="resume__skills-list">
        <li>Drupal 8 certified themer</li>
        <li>Accessibility</li>
        <li>Mobile-first design</li>
        <li>SCSS/CSS</li>
        <li>JavaScript</li>
        <li>UI/UX design</li>
        <li>Typography</li>
      </ul>
      <h5>Outreach</h5>
      <dl>
        <dt>Drupal GovCon 2024</dt>
        <dd>Instructor</dd>
        <dt>Drupal GovCon 2023</dt>
        <dd>Presenter & Instructor</dd>
        <dt>Drupal4Gov 2023</dt>
        <dd>Instructor</dd>
        <dt>Drupal GovCon 2021</dt>
        <dd>Presenter</dd>
        <dt>Drupal NoVA 2019</dt>
        <dd>Getting Started with USWDS</dd>
      </dl>
    </section>
  </div>
</Base>
