---
import "./index.scss";

import MainNav from '../MainNav/index.astro';
import SecondaryNav from "../SecondaryNav/index.astro";
---

<header id="top" class="site-header">
  <div class="site-header__inner wrap wrap--xl">
    <nav class="site-nav">
      <MainNav />
      <SecondaryNav />
    </nav>
  </div>
</header>

<script src="../../js/main.js"></script>
