@use "../../scss/config" as *;

// ==========================================================================
// Site header
// ==========================================================================
.site-header {
  --header-padding: var(--space-1);

  padding-block: var(--header-padding);

  @include mq(sm) {
    --header-padding: var(--space-3);
  }
}

.site-nav {
  align-items: end;
  display: flex;
  font-size: var(--font-size-3);
  flex-direction: column;
  font-weight: 300;
  justify-content: end;
  text-align: right;

  @include mq(md) {
    flex-flow: row wrap;
    align-items: anchor-center;
  }

  a {
    position: relative;
    z-index: 1;
  }
}

// ==========================================================================
// Primary nav
// ==========================================================================
.primary-nav {
  column-gap: var(--space-105);
  margin-block-end: var(--space-05);

  @include mq(sm) {
    display: flex;
    flex-direction: row;
    margin-block: 0;
  }

  .nav__link {
    color: var(--theme-primary);
  }
}

// ==========================================================================
// Secondary Nav
// ==========================================================================
.secondary-nav {
  border-width: 0;
  border-style: solid;
  border-color: var(--color-gray-3);
  border-top-width: 1px;
  line-height: 1;
  gap: var(--space-05);
  margin-block: var(--space-05);
  padding-block-start: px-to-rem(15);

  ion-icon {
    color: currentColor;
  }

  @include mq(sm) {
    margin-inline-start: var(--space-05);
  }

  @include mq(md) {
    margin-inline-start: var(--space-1);
    border-top: none;
    border-left-width: 1px;
    padding-block-start: 0;
    padding-inline-start: var(--space-1);
  }
}
