@use "../../scss/config" as *;

// ==========================================================================
// Header
// ==========================================================================
.main-header {
  --header-padding: var(--space-1);

  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);

  @include mq(sm) {
    --header-padding: var(--space-4);
  }

  @include mq(md) {
    --header-padding: var(--space-2);
  }
}

.intro {
  font-weight: 300;
}

.main-header__name {
  font-weight: inherit;
  margin-bottom: 0;
  text-indent: px-to-rem(-4);

  @include mq(sm) {
    font-size: var(--space-3);
  }

  @include mq(lg) {
    letter-spacing: -3px;
    font-size: var(--space-5);
  }
}

.main-header__title {
  font-weight: inherit;
  margin-top: 0;
}
