---
import "../scss/styles.scss";
const {
  title = 'James Mejia - Designer & Frontend Engineer',
  description = "Portfolio of James Mejia, Designer & Frontend Engineer"
} = Astro.props;
---

<head>
  <!-- Title -->
  <title>{title}</title>
  <!-- /Title -->

  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="description" content={ description } />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="msvalidate.01" content="78F25BA9CB8A744B0E3C891CE2F772E8" />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://jmejia.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="James Mejia - Designer &  Frontend Engineer">
  <meta property="og:description" content="Portfolio of James Mejia, Designer & Frontend Engineer">
  <meta property="og:image" content="/img/og-image.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="jmejia.com">
  <meta property="twitter:url" content="https://jmejia.com">
  <meta name="twitter:title" content="James Mejia - Designer &  Frontend Engineer">
  <meta name="twitter:description" content="Portfolio of James Mejia, Designer & Frontend Engineer">
  <meta name="twitter:image" content="/img/og-image.jpg">
  <!-- /Meta -->


  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml">

  <!-- Variable fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <!-- /Styles -->

  <!-- Scripts -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50373766-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-50373766-1');
  </script>
  <!-- /Scripts -->
</head>
