// ==========================================================================
// Footer
// ==========================================================================
.footer-nav__link {
  display: block;
  cursor: pointer;
  padding: px-to-rem(20);
}

.footer-nav__link svg {
  fill: $c-primary;
}
