// ==========================================================================
// Projects
// ==========================================================================
.project {
  @include mq(lg) {
    display: grid;
    grid-template-areas: 'screenshot . body';
    grid-template-columns: 1fr 5% 1fr;
    max-width: 95%;
    align-items: center;
  }

  @include mq(lg) {
    grid-template-columns: 2fr 5% 1fr;
  }
}

.project__img {
  display: block;
  margin-bottom: px-to-rem(30);

  @include mq(lg) {
    grid-area: screenshot;
  }
}

.project__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__body {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;

  @include mq(lg) {
    grid-area: body;
    margin: 0;
    max-width: none;
  }
}

.project__title {
  margin-top: 0;
  margin-bottom: 0;
}

.project-roles {
  margin-top: 0;
}

.project-role {
  font-size: px-to-rem(18);
}
