@use "../config" as *;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg-color);
  color: var(--theme-text-color);
  font-size: var(--space-1);
  font-family: var(--font-serif);
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(xl) {
    font-size: px-to-rem(24);
  }

  @supports (font-size-adjust: 1) {
    font-size-adjust: 0.5;
  }
}

.content-wrapper {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--space-2);
  margin-bottom: 0;
  text-wrap: balance;
}

h1,
%h1-style {
  font-size: px-to-rem(45);
  font-weight: 400;
  line-height: 1.1;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(md) {
    font-size: px-to-rem(54);
  }
}

h2,
%h2-style {
  font-size: var(--space-105);
  font-weight: 400;
  line-height: 1.22;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(lg) {
    font-size: px-to-rem(48);
  }
}

h2 a {
  &::after {
    bottom: 4px;
  }
}

h3 {
  font-size: px-to-rem(36);
  font-weight: 400;
  line-height: 1.22;
  transition: font-size 0.25s var(--theme-ease-primary);
}

h4 {
  font-size: px-to-rem(33);
  font-weight: 400;
  line-height: 1.22;
  margin-top: px-to-rem(33);
  transition: font-size 0.25s var(--theme-ease-primary);
}

h5 {
  font-size: px-to-rem(30);
  font-weight: 400;
  line-height: 1.22;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(lg) {
    font-size: px-to-rem(24);
  }
}

h6 {
  font-size: px-to-rem(21);
  font-weight: 400;
  line-height: 1.22;
  transition: font-size 0.25s var(--theme-ease-primary);
}

dt {
  color: var(--theme-primary-light);
  font-weight: 700;
}

dd {
  margin-left: 0;
  margin-bottom: var(--space-04);
}

b,
strong {
  font-weight: 400;
}

p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: px-to-rem(30);
  max-width: 59ch;
  transition: font-size 0.25s var(--theme-ease-primary);
  text-wrap-style: pretty;
}

p:first-of-type {
  margin-top: var(--space-1);
}

hr {
  border-bottom: 0;
  border-top: 2px solid #999999;
  height: 0;
  margin: 7.6em auto;
  position: relative;
  width: 20%;
}

.lead-in {
  font-size: px-to-rem(27);
  margin-top: 0;

  @include mq(lg) {
    font-size: px-to-rem(30);
  }
}

p,
ul,
ol,
table,
blockquote {
  margin: 0 0 var(--space-105);
}

ul,
ol {
  padding-left: 0;

  ul,
  ol {
    margin-top: var(--space-03);
    margin-bottom: var(--space-03);
    padding-left: var(--space-1);
  }
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

em {
  border-bottom: 2px solid;
  font-style: normal;
  font-weight: 400;
}

sup,
sub,
.data-footnote-backref {
  display: inline-flex;
  font-size: 70%;
  padding: 1px 6px;
  margin: 0 2px;
}

a {
  &:focus {
    outline: 2px dotted var(--theme-primary-dark);
    outline-offset: 4px;
  }
}

header a,
:where(main a) {
  color: var(--theme-primary-dark);
  display: inline-block;
  font-weight: 300;
  padding-bottom: 2px;
  position: relative;
  text-decoration: none;
  transition: 0.2s var(--theme-ease-primary);

  &::after {
    content: "";
    background-color: var(--color-gray-3) !important;
    border-bottom: 1px solid;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    position: absolute;
    transform-origin: bottom left;
    transform: scale(0, 1);
    transition: transform 0.2s;
    // z-index: z(under);
  }

  @include is-active {
    &::after {
      transform: scaleX(1);
    }
  }
}

.astro-code,
code,
pre {
  font-family: "Fira code", monospace;
  font-size: px-to-rem(15);
}

.astro-code {
  border: 1px solid rgba(white, 0.15);
  margin-top: 0;
  margin-bottom: px-to-rem(30);
  padding: var(--space-02);
}

p code {
  border: 1px solid rgba(white, 0.15);
  display: inline-block;
  padding: 2px 3px;
  white-space: nowrap;
}

// Seen on `/colophon`
.footnotes {
  line-height: 1;
}

.footnotes li > p {
  margin-top: 0;
  margin-bottom: 0;
}
