@use "../config" as *;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg-color);
  color: var(--theme-text-color);
  font-size: var(--font-size-3);
  font-family: var(--font-serif);
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(md) {
    font-size: var(--font-size-4);
  }

  @supports (font-size-adjust: 1) {
    font-size-adjust: 0.5;
  }
}

.content-wrapper {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: var(--space-2);
  margin-block-end: var(--space-05);
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-10);
  font-weight: 400;
  line-height: 1.1;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(lg) {
    font-size: var(--font-size-14);
  }
}

h2 {
  font-size: var(--font-size-8);
  font-weight: 400;
  line-height: 1.22;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(lg) {
    font-size: var(--font-size-10);
  }

  a::after {
    bottom: 4px;
  }
}

h3 {
  font-size: var(--font-size-5);
  font-weight: 400;
  line-height: 1.22;
  margin-block-start: var(--space-1);
  margin-block-end: var(--space-1);
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(lg) {
    font-size: var(--font-size-7);
  }
}

h4 {
  font-size: var(--font-size-4);
  font-weight: 400;
  line-height: 1.22;
  margin-block-start: px-to-rem(33);
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(lg) {
    font-size: var(--font-size-5);
  }
}

h5 {
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 1.22;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(lg) {
    font-size: var(--font-size-4);
  }
}

h6 {
  font-size: var(--font-size-1);
  line-height: 1.22;
  transition: font-size 0.25s var(--theme-ease-primary);

  @include mq(lg) {
    font-size: var(--font-size-2);
  }
}

dt {
  color: var(--theme-primary-light);
  font-weight: 400;
}

dd {
  margin-left: 0;
  margin-block-end: var(--space-05);
  text-wrap-style: pretty;
}

b,
strong {
  font-weight: 700;
}

.smol {
  font-size: px-to-rem(8);
}

p {
  font-weight: 300;
  margin-block-start: var(--space-1);
  margin-block-end: var(--space-2);
  transition: font-size 0.25s var(--theme-ease-primary);
  text-wrap-style: pretty;
}

hr {
  border-bottom: 0;
  border-top: 2px solid #999999;
  height: 0;
  margin: 7.6em auto;
  position: relative;
  width: 20%;
}

.lead-in {
  font-size: var(--font-size-4);
  margin-block-start: 0;
  text-wrap-style: balance;

  @include mq(lg) {
    font-size: var(--font-size-6);
  }
}

main {
  ul,
  ol,
  dl,
  table,
  blockquote {
    margin: 0 0 var(--space-105);
  }

  li,
  dd {
    margin-block-end: var(--space-05);
  }
}

table {
  border-collapse: collapse;
  color: var(--theme-base-lighter);
  font-size: 88%;
}

thead {
  background-color: var(--theme-base-darkest);
  color: var(--theme-base-lightest);
}

th,
td {
  border: 1px solid var(--theme-base-darker);
  padding: var(--space-02) var(--space-05);
}

ul,
ol {
  padding-left: 0;

  ul,
  ol {
    margin-block-start: var(--space-05);
    margin-block-end: var(--space-05);
    padding-left: var(--space-1);
  }
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

em {
  font-weight: 300;
}

sup,
sub,
.data-footnote-backref {
  display: inline-flex;
  font-size: 70%;
  margin: 0 2px;
}

a {
  &:focus {
    outline: 2px dotted var(--theme-primary-dark);
    outline-offset: 4px;
  }
}

header a,
:where(main a) {
  color: var(--theme-primary);
  font-weight: 300;
  padding-bottom: 2px;
  position: relative;
  text-decoration: none;
  transition: 0.2s var(--theme-ease-primary);

  &::after {
    content: "";
    border-bottom: 1px solid;
    left: 0;
    right: 0;
    bottom: 2px;
    height: 2px;
    width: 100%;
    position: absolute;
    transform-origin: bottom left;
    transform: scale(0, 1);
    transition: transform 0.2s;
  }

  @include is-active {
    &::after {
      transform: scaleX(1);
    }
  }
}

.astro-code,
code,
pre {
  background-color: var(--theme-off-black) !important;
  font-family: "Fira code", monospace;
  font-size: var(--font-size-3);
}

.astro-code {
  border: 1px solid rgba(white, 0.15);
  margin-block-start: 0;
  padding: var(--space-1);
}

p code {
  border: 1px solid rgba(white, 0.15);
  display: inline-block;
  padding: 2px 3px;
  white-space: nowrap;
}

// Seen on `/colophon`
.footnotes {
  line-height: 1;
}

.footnotes li > p {
  margin-block-start: 0;
  margin-block-end: 0;
}
