// ==========================================================================
// Color Variables
// ==========================================================================
$c-green: #12d178;
$c-green-2: #00a676;
$c-black: #121619;
$c-white: #c8d3d5;
$c-primary: $c-green;
$c-visited: $c-green-2;

$c-primary: $c-green;
$c-primary-dk: $c-green-2;

// ==========================================================================
// Breakpoints
// ==========================================================================
$breakpoints: (
  xs: 21.875em,
  sm: 30.625em,
  // 490px
    md: 46.875em,
  // 750px
    lg: 56.25em,
  // 900px
);

// ==========================================================================
// Z-index Layers
// ==========================================================================
// Z-index variables
// Use with z() function like this:
// z-index: z(under);
$z-layers: (
  under: -1,
  default: 1,
  layer-2: 2,
  layer-3: 3,
  menu: 100,
  overlay: 900
);

// ==========================================================================
// Fonts
// ==========================================================================
$font-size-base: 16;

$ff-serif: Aleo, Georgia, serif;
$font-primary: $ff-serif;

// ==========================================================================
// Easings
// ==========================================================================
$bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$ease-primary: $bezier;

// ==========================================================================
// Misc
// ==========================================================================
$shadow: 0 0 8px rgba($c-black, 0.8), 0 0 40px rgba($c-black, 0.1);
