@use "../../scss/config" as *;

// ==========================================================================
// Footer
// ==========================================================================
.main-footer {
  margin-top: px-to-rem(100);
  flex-shrink: 0;
}

//
// Generic Styles
// ==========================================================================
.main-footer a {
  align-items: center;
  color: var(--color-black-1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: px-to-rem(12);
  font-weight: 400;
  height: 100%;
  justify-content: center;
  padding: px-to-rem(20);
  text-align: center;

  @include mq(xs) {
    font-size: px-to-rem(14);
  }

  @include mq(md) {
    flex-direction: row;
    font-size: px-to-rem(20);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: z(under);
  }

  &::before {
    background-color: var(--theme-primary-dark);
    top: 0;
    width: 100%;
  }

  &::after {
    content: "";
    background-color: var(--color-black-1);
    border-bottom: 1px solid;
    height: 100%;
    transform-origin: bottom left;
    transform: scale(1, 0);
    transition: transform 0.2s var(--theme-ease-primary);
    z-index: z(under);
  }

  @include is-active {
    color: var(--theme-primary-dark);
    font-weight: 400;
    outline: none;

    &::after {
      transform: scale(1, 0.98);
    }
  }
}

//
// Contact Nav
// ==========================================================================
.footer-nav__menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.footer-nav__menu-item {
  flex: 1 1 33.33%;
}

.footer-nav__menu-item:first-of-type {
  flex: 0 1 10%;
}

.footer__icon {
  display: inline-block;
  fill: currentColor;
  height: 2.8rem;
  width: 2.8rem;
  vertical-align: middle;

  @include mq(md) {
    margin-right: var(--space-02);
  }
}
