---
import "./index.scss";

import Icons from '../Icons/index.astro';
import Social from "../_data/social.json";

const footerItems = [
  {
    url: "#top",
    icon: "arrow-up-outline",
    aria_label: "Return to top of the page",
  },
  ...Social
]
---

<footer class="main-footer" id="site-footer">
  <nav class="footer-nav nav" aria-label="Footer menu">
    <ul class="footer-nav__items">
      {footerItems.map((footerItem, index) => (
        <li class="footer-nav__item">
          <a
            href={ footerItem.url }
            class="footer-nav__link"
            aria-label={ footerItem.aria_label }
          >
            <ion-icon
              class="footer-nav__icon icon"
              name={ footerItem.icon }
              aria-hidden="true"
            >
            </ion-icon>
          </a>
        </li>
      ))}
    </ul>
  </nav>
</footer>

<Icons />
