---
import "./index.scss";

import Icons from '../Icons/index.astro';
import Social from "../_data/social.json";

const footerItems = [
  {
    url: "#top",
    icon: "#up-arrow",
    aria_label: "Return to top of the page",
  },
  ...Social
]
---

<footer class="main-footer" role="contentinfo" id="contact">
  <nav class="nav footer-nav" aria-label="Footer menu">
    <ul class="footer-nav__menu">
      {footerItems.map((footerItem, index) => (
        <li class="footer-nav__menu-item">
          <a
            href={ footerItem.url }
            class="footer-nav__menu-link"
            aria-label={ footerItem.aria_label }
          >
            <svg
              role="img"
              aria-hidden="true"
              class="footer__icon icon">
              <use xlink:href={ footerItem.icon }></use>
            </svg>
              { footerItem.label }
          </a>
        </li>
      ))}
    </ul>
  </nav>
</footer>

<Icons />
<script src="../../js/main.js"></script>
