@use "../../scss/config" as *;

// ==========================================================================
// Footer
// ==========================================================================
.main-footer {
  background-color: var(--theme-primary);
  margin-top: var(--space-5);
  flex-shrink: 0;
}

//
// Contact Nav
// ==========================================================================
.footer-nav__items {
  align-items: stretch;
  display: grid;
  margin-bottom: 0;
  margin-top: 0;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;

  @include mq(md) {
    grid-template-columns: 10% repeat(3, 1fr);
  }
}

.footer-nav__item {
  list-style: none;
}

.footer-nav__link {
  display: flex;
  color: var(--color-black-1);
  justify-content: center;
  position: relative;
  padding: px-to-rem(20);
  text-decoration: none;
  transition: 0.2s var(--theme-ease-primary);
  z-index: z(default);

  @include is-active {
    color: var(--theme-primary);
    outline: none;

    &::after {
      transform: scale(1);
    }
  }

  &::after {
    content: "";
    background-color: var(--color-black-1);
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: bottom;
    transform: scale(1, 0);
    transition: transform 0.2s var(--theme-ease-primary);
    z-index: z(under);
  }
}

.footer-nav__icon {
  --icon-size: var(--space-105);

  display: inline-block;
  fill: currentColor;
  height: var(--icon-size);
  width: var(--icon-size);
  vertical-align: middle;

  @include mq(md) {
    --icon-size: var(--space-2);
    margin-right: var(--space-02);
  }
}
