@use "sass:map";

// Spacing units - 3px base
// This function is created to avoid using calc() for performance.
@function spacing-multiple($multiplier: 1, $base-unit: 0.1875) {
  @return ($base-unit * $multiplier) + 0rem;
}

:root {
  --base-unit: #{spacing-multiple()};

  --space-01: var(--base-unit); // 3px
  --space-02: #{spacing-multiple(2)}; // 6px
  --space-05: #{spacing-multiple(3)}; // 9px

  --space-1: #{spacing-multiple(6)}; // 18px
  --space-105: #{spacing-multiple(7)}; // 21px
  --space-2: #{spacing-multiple(2, 1.125)}; // 36px @ 1.125rem/18px
  --space-3: #{spacing-multiple(3, 1.125)}; // 54px
  --space-4: #{spacing-multiple(4, 1.125)}; // 72px
  --space-5: #{spacing-multiple(5, 1.125)}; // 90px
  --space-6: #{spacing-multiple(6, 1.125)}; // 108px
  --space-7: #{spacing-multiple(7, 1.125)}; // 126px
  --space-8: #{spacing-multiple(8, 1.125)}; // 144px
  --space-9: #{spacing-multiple(9, 1.125)}; // 162px
  --space-10: #{spacing-multiple(10, 1.125)}; // 180px

  // Font size
  --font-size-1: #{spacing-multiple(4)}; // 12px
  --font-size-2: #{spacing-multiple(5)}; // 15px
  --font-size-3: #{spacing-multiple(6)}; // 18px
  --font-size-4: #{spacing-multiple(7)}; // 21px
  --font-size-5: #{spacing-multiple(8)}; // 24px
  --font-size-6: #{spacing-multiple(9)}; // 27px
  --font-size-7: #{spacing-multiple(10)}; // 30px
  --font-size-8: #{spacing-multiple(11)}; // 33px
  --font-size-9: #{spacing-multiple(12)}; // 36px
  --font-size-10: #{spacing-multiple(13)}; // 39px
  --font-size-11: #{spacing-multiple(14)}; // 42px
  --font-size-12: #{spacing-multiple(15)}; // 45px
  --font-size-13: #{spacing-multiple(16)}; // 48px
  --font-size-14: #{spacing-multiple(17)}; // 51px
  --font-size-15: #{spacing-multiple(18)}; // 54px
  --font-size-16: #{spacing-multiple(19)}; // 57px
  --font-size-17: #{spacing-multiple(20)}; // 60px
  --font-size-18: #{spacing-multiple(21)}; // 63px
  --font-size-19: #{spacing-multiple(22)}; // 66px
  --font-size-20: #{spacing-multiple(23)}; // 69px
  --font-size-21: #{spacing-multiple(24)}; // 72px

  // Font family
  --font-serif: Aleo, serif;

  // Font base size
  --font-base-size: 16;

  // ==========================================================================
  // Old colors
  // ⚠️ Don't use these colors in new projects.
  // ==========================================================================
  // Base colors
  --color-green-1: #12d178;
  --color-green-2: #00c997;
  --color-green-3: #00ebbb;

  --color-black-1: #0b0608;
  --color-gray-1: #1d2928;
  --color-gray-2: #354b4a;
  --color-gray-3: #567976;
  --color-white-1: #f2eeef;

  // ==========================================================================
  // New colors
  // ==========================================================================

  // Colors from color palette
  // https://tinyurl.com/mejia-colors
  // https://tinyurl.com/2cqvurff
  --color-green-10: oklch(97.03% 0.042 168);
  --color-green-20: oklch(92.59% 0.112 167);
  --color-green-30: oklch(83.83% 0.146 168);
  --color-green-40: oklch(79.33% 0.146 168);
  --color-green-50: oklch(74.18% 0.152 167);
  --color-green-60: oklch(64.11% 0.13 167);
  --color-green-70: oklch(49.64% 0.101 167);
  --color-green-80: oklch(34.35% 0.069 168);
  --color-green-90: oklch(20.87% 0.042 167);

  // Gray
  --color-gray-10: oklch(95.88% 0.009 247.93);
  --color-gray-20: oklch(92.88% 0.013 255.51);
  --color-gray-30: oklch(86.87% 0.019 250.61);
  --color-gray-40: oklch(74.57% 0.03 254.72);
  --color-gray-50: oklch(59.56% 0.038 257);
  --color-gray-60: oklch(44.74% 0.034 261.32);
  --color-gray-70: oklch(33.51% 0.033 260.91);
  --color-gray-80: oklch(24.33% 0.025 263.95);
  --color-gray-90: oklch(21.61% 0.02 275.8);

  // You can use oklch() to modify alpha channel.
  // For example:
  // --color-white-1: oklch(97.02% 0 0 / 0.9); // Equals #F5F5F5

  // ==========================================================================
  // Theme colors
  // ==========================================================================
  --theme-primary-lightest: var(--color-green-10);
  --theme-primary-lighter: var(--color-green-30);
  --theme-primary-light: var(--color-green-40);
  --theme-primary: var(--color-green-50);
  --theme-primary-dark: var(--color-green-60);
  --theme-primary-darker: var(--color-green-70);
  --theme-primary-darkest: var(--color-green-90);

  --theme-base-lightest: var(--color-gray-20);
  --theme-base-lighter: var(--color-gray-30);
  --theme-base-light: var(--color-gray-40);
  --theme-base: var(--color-gray-50);
  --theme-base-dark: var(--color-gray-60);
  --theme-base-darker: var(--color-gray-70);
  --theme-base-darkest: var(--color-gray-90);

  --theme-text-color: var(--color-gray-10);
  --theme-bg-color: var(--color-green-90);

  // Easing
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

  --theme-ease-primary: var(--ease-out-cubic);
}

// ==========================================================================
// Breakpoints
// ==========================================================================
/* prettier-ignore */
$breakpoints: (
  xs: 21.875em, // 350px
  sm: 30.625em, // 490px
  md: 46.875em, // 750px
  lg: 56.25em, // 900px
);

// ==========================================================================
// Z-index Layers
// ==========================================================================
// Z-index variables
// Use with z() function like this:
// z-index: z(under);
$z-layers: (
  under: -1,
  default: 1,
  layer-2: 2,
  layer-3: 3,
  menu: 100,
  overlay: 900,
);
