@use "sass:map";

// Spacing units - 3px base
// This function is created to avoid using calc() for performance.
@function spacing-multiple($multiplier: 1) {
  $base-unit: 0.1875; // 3px

  @return ($base-unit * $multiplier) + 0rem;
}

:root {
  --base-unit: #{spacing-multiple()};

  // 3px
  --space-01: var(--base-unit);
  // 6px
  --space-02: calc(var(--base-unit) * 2);
  // 9px
  --space-03: calc(var(--base-unit) * 3);
  // 12px
  --space-04: calc(var(--base-unit) * 4);
  // 15px
  --space-05: calc(var(--base-unit) * 5);
  // 21px
  --space-1: calc(var(--base-unit) * 7);
  // 30px
  --space-105: calc(var(--base-unit) * 10);
  // 42px
  --space-2: calc(var(--space-1) * 2);
  // 63px
  --space-3: calc(var(--space-1) * 3);
  // 84px
  --space-4: calc(var(--space-1) * 4);
  // 105px
  --space-5: calc(var(--space-1) * 5);
  // 126px
  --space-6: calc(var(--space-1) * 6);
  // 147px
  --space-7: calc(var(--space-1) * 7);

  // Font family
  --font-serif: Aleo, serif;

  // Font base size
  --font-base-size: 16;

  // ==========================================================================
  // Old colors
  // ==========================================================================
  // Base colors
  --color-green-1: #12d178;
  --color-green-2: #00c997;
  --color-green-3: #00ebbb;

  --color-green-1: oklch(85% 0.15 168);
  --color-green-2: oklch(75% 0.15 168);
  --color-green-3: oklch(65% 0.15 168);
  --color-green-4: oklch(55% 0.15 168);

  --color-black-1: #0b0608;
  --color-gray-1: #1d2928;
  --color-gray-2: #354b4a;
  --color-gray-3: #567976;
  --color-white-1: #f2eeef;

  // ==========================================================================
  // New colors
  // ==========================================================================

  // Colors from color palette
  // https://tinyurl.com/mejia-colors
  // https://tinyurl.com/2cqvurff
  --color-green-10: oklch(97.03% 0.042 168);
  --color-green-20: oklch(92.59% 0.112 167);
  --color-green-30: oklch(83.83% 0.146 168);
  --color-green-40: oklch(79.33% 0.146 168);
  --color-green-50: oklch(74.18% 0.152 167);
  --color-green-60: oklch(64.11% 0.13 167);
  --color-green-70: oklch(49.64% 0.101 167);
  --color-green-80: oklch(34.35% 0.069 168);
  --color-green-90: oklch(20.87% 0.042 167);

  // Gray
  --color-gray-10: oklch(95.88% 0.009 247.93);
  --color-gray-20: oklch(92.88% 0.013 255.51);
  --color-gray-30: oklch(86.87% 0.019 250.61);
  --color-gray-40: oklch(74.57% 0.03 254.72);
  --color-gray-50: oklch(59.56% 0.038 257);
  --color-gray-60: oklch(44.74% 0.034 261.32);
  --color-gray-70: oklch(33.51% 0.033 260.91);
  --color-gray-80: oklch(24.33% 0.025 263.95);
  --color-gray-90: oklch(21.61% 0.02 275.8);

  // You can use oklch() to modify alpha channel.
  // For example:
  // --color-white-1: oklch(97.02% 0 0 / 0.9); // Equals #F5F5F5
  // --color-white-alpha-1: oklch(from var(--color-white-1) l c h / 0.2);
  // --color-white-1: var(--color-gray-10);
  // Theme colors
  --theme-text-color: var(--color-white-1);
  --theme-bg-color: var(--color-gray-1);
  --theme-primary: var(--color-green-1);
  --theme-primary-dark: var(--color-green-2);
  --theme-primary-light: var(--color-green-3);
  --theme-base: var(--color-black-1);
  --theme-base-light: var(--color-gray-2);
  --theme-base-lighter: var(--color-gray-3);

  // Easing
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

  --theme-ease-primary: var(--ease-out-cubic);
}

// ==========================================================================
// Breakpoints
// ==========================================================================
$breakpoints: (
  xs: 21.875em,
  sm: 30.625em,
  // 490px
  md: 46.875em,
  // 750px
  lg: 56.25em, // 900px
);

// ==========================================================================
// Z-index Layers
// ==========================================================================
// Z-index variables
// Use with z() function like this:
// z-index: z(under);
$z-layers: (
  under: -1,
  default: 1,
  layer-2: 2,
  layer-3: 3,
  menu: 100,
  overlay: 900,
);
