@use "../../scss/config" as *;

.main-nav {
  font-weight: 300;
  padding: var(--space-1);

  ul {
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    position: relative;
    z-index: 1;

    &:focus {
      outline: 2px dotted var(--theme-primary-dark);
    }

    &:hover,
    &:focus {
      color: var(--color-black-1);
    }

    &::after {
      background-color: var(--theme-primary-dark);
    }

    &.is-active {
      &::after {
        transform: scale(1, 0.06);
      }

      &:hover::after,
      &:focus::after {
        transform: scale(1);
      }
    }
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .nav__link {
    color: var(--theme-primary-dark);
  }
}
