---
const navItems = [
  {
    label: "Home",
    url: "/",
  },
  {
    label: "Blog",
    url: "/blog",
  },
  {
    label: "Resume",
    url: "/resume"
  },
  {
    label: "Colophon",
    url: "/colophon"
  },
  {
    label: "Readme",
    url: "/personal-readme"
  },
]
---

<ul id="primary-nav" class="js-nav primary-nav nav">
  {navItems.map(navItem => (
    <li class="primary-nav__item nav__item">
      <a href={ navItem.url } class="primary-nav__link nav__link">
        { navItem.label }
      </a>
    </li>
  ))}
</ul>
