@use "../../scss/config" as *;

.main-nav {
  align-items: end;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  justify-content: end;
  text-align: right;

  @include mq(sm) {
    flex-flow: row nowrap;

    .nav__item:not(:first-of-type) {
      margin-left: var(--space-1);
    }
  }

  a {
    position: relative;
    z-index: 1;

    &:focus {
      outline: 2px dotted var(--theme-primary-dark);
    }
  }

  //
  // Primary nav
  // ==========================================================================
  &__menu {
    margin-bottom: var(--space-04);

    @include mq(sm) {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  .nav__link {
    color: var(--theme-primary-dark);
  }
}
