---
import "./index.scss";
import SecondaryNav from "../SecondaryNav/index.astro";

const navItems = [
  {
    label: "Home",
    url: "/",
  },
  {
    label: "Blog",
    url: "/blog",
  },
  {
    label: "Resume",
    url: "/resume"
  },
  {
    label: "Colophon",
    url: "/colophon"
  },
  {
    label: "Readme",
    url: "/personal-readme"
  },
]
---

<nav class="main-nav" aria-label="Site navigation">
  <ul id="main-nav" class="js-nav main-nav__menu nav">
    {navItems.map(navItem => (
      <li class="nav__item">
        <a href={ navItem.url } class="nav__link">
          { navItem.label }
        </a>
      </li>
    ))}
  </ul>
  <SecondaryNav />
</nav>
