@use "../../scss/config" as *;

.main-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;

  ul {
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    position: relative;
    z-index: 1;

    &:focus {
      outline: 2px dotted var(--theme-primary-dark);
    }
  }

  .nav__item:not(:first-of-type) {
    margin-left: var(--space-1);
  }

  .nav__link {
    color: var(--theme-primary-dark);
  }
}
