@media print {
  body {
    background: none;
    color: #000000;
    font-size: 8pt;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .main-header,
  .main-footer {
    display: none !important;
  }

  .lead-in p {
    font-size: 8pt !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-before: avoid;
    page-break-after: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h1 {
    font-size: 18pt;
  }

  h2 {
    font-size: 16pt;
  }

  h3 {
    font-size: 14pt;
  }

  h4 {
    font-size: 12pt;
  }

  h5 {
    font-size: 10pt;
  }

  p {
    font-weight: inherit;
    margin-top: 0.16in;
    margin-bottom: 0.16in;
  }

  a img {
    border: none;
  }

  .page--resume {
    padding-top: 10mm;
  }

  .resume__header .h-card {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    margin-top: 0 !important;
  }

  .resume__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .resume__experience {
    width: 65%;
  }

  .resume__skills {
    width: 30%;
    margin-left: 5%;
  }

  .resume__header-back,
  .page--resume .main-footer {
    display: none !important;
  }

  .page--resume .h-card__name {
    margin-top: 0;
  }

  .page--resume .history__item {
    margin-bottom: 0;
  }
}
