@use "config" as *;
@use "global";
@use "components";
@use "print";

@forward "utils";

html {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--theme-primary);
  color: var(--color-black-1);
  font-weight: 400;
}

::selection {
  background-color: var(--theme-primary);
  color: var(--color-black-1);
  font-weight: 400;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.wrap {
  --_container-width: var(--container-width, 57ch);

  display: grid;
  grid-column-gap: var(--space-2);
  grid-template-columns:
    1fr
    min(var(--_container-width), calc(100% - 90px))
    1fr;
  position: relative;

  > * {
    grid-column: 2;
  }

  &--lg {
    --container-width: 80ch;
  }

  &--xl {
    --container-width: 80%;
  }
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

input,
textarea,
select {
  font-family: inherit;
}
