@use "base" as *;
@use "global";
@use "components";
@use "pages";
@use "print";

@forward "utils";

html {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: $c-primary;
  color: $c-black;
  font-weight: 400;
}

::selection {
  background-color: $c-primary;
  color: $c-black;
  font-weight: 400;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.wrap {
  display: grid;
  grid-column-gap: units(10);
  grid-template-columns:
    1fr
    min(60ch, calc(100% - 90px))
    1fr;
  position: relative;

  > * {
    grid-column: 2;
  }
}

.wrap--xl {
  padding-left: 6vw;
  padding-right: 6vw;
}

.full-bleed {
  background-color: red;
  width: 100%;
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

input,
textarea,
select {
  font-family: inherit;
}
