@use "config" as *;
@use "global";
@use "components";
@use "print";

@forward "utils";

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

html {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--theme-primary);
  color: var(--color-black-1);
  font-weight: 400;
}

::selection {
  background-color: var(--theme-primary);
  color: var(--color-black-1);
  font-weight: 400;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.wrap {
  --_container-width: var(--container-width, 80%);

  display: grid;
  grid-column-gap: var(--space-2);
  grid-template-columns:
    1fr
    [content-start] var(--_container-width) [content-end]
    1fr;
  position: relative;

  > * {
    grid-column: content;
  }

  @include mq(md) {
    --container-width: 57ch;
  }

  &--lg {
    @include mq(md) {
      --container-width: 80ch;
    }
  }

  &--xl {
    @include mq(md) {
      --container-width: 80%;
    }
  }
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

// New image reset from Harry Roberts.
// @todo implement low-res feature:
// https://csswizardry.com/2023/09/the-ultimate-lqip-lcp-technique/
img {
  font-style: italic;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

input,
textarea,
select {
  font-family: inherit;
}
