---
import Skiplink from "../components/Skiplink/index.astro";
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/index.astro";

const { title, description, wrapSize, frontmatter } = Astro.props;

let pageTitle = title ? title : frontmatter.title;
---


<html lang="en">
  <MainHead title={ pageTitle } description={ description } />

  <body>
    <div class="content-wrapper">
      <Skiplink />
      <Header />
      <main id="main-content">
        <div class={wrapSize ? wrapSize : "wrap"}>
          <slot />
        </div>
      </main>
    </div>
    <Footer />
  </body>
</html>
